.dropbtn {
    background-color: #1e1e1e;
    width: 25%;
    color: white;
    font-size: 32px;
    border: none;
    padding: 0;
    margin: 0;
    text-align: center;
    writing-mode: vertical-lr;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    text-align: center;
    width: 100%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1e1e1e;
    width: 100%;
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.5);
    z-index: 100;
    justify-content: center;
}

/* Links inside the dropdown */
.dropdown-content button {
    background-color: #1e1e1e;
    border: none;
    color: darkgrey;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content button:hover {background-color: #222;}

/* Show the dropdown menu on hover */
.dropdown-wrapper:hover .dropdown-content {
    display: flex;
}