/* Reset default browser styles */
body, h1, p {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #1e1e1e; /* Dark background color */
  color: #ffffff; /* Light text color */
}

.container {
  display: flex;
  width: 50%;
  height: 100%
}

.header {
  text-align: center;
}

.footer {
  text-align: center;
}

iframe {
  border: none;
}

.graph {
  padding: 10px;
  overflow: scroll;
  text-align: center;
}

::backdrop {
  background-image: linear-gradient(
          45deg,
          lightblue,
          darkslategrey,
          black
  );
  opacity: 0.75;
}

#dialog {
  background: #1e1e1e;
  color: white;

  #gif_in_dialog {
    display: block;
    margin: 0 auto;
  }

  & div {
    text-align: right;

    & button {
      color: white;
      background: #1e1e1e;
      border: none;
      font-size: 20pt;
    }
  }
}

.flex-container {
  display: flex;
  height: 75%;
  justify-content: space-around;
}

iframe {
  flex-grow: 1;
  max-width: 50%;
}

h1 {
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.editor {
  background-color: #2d2d2d;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  min-width: 50%;
  max-width: 100%;
  height:80ch;
  border:1px solid grey;
  margin-left: 10px;
  margin-right: 10px;
}

p {
  font-size: 20px;
  line-height: 1.5;
  margin-top: 20px;
  width: 80%;
  hyphens: auto; 
	text-align: justify;
  margin-left: auto;
  margin-right: auto;
}

a:link { color: lightskyblue; }
a:visited { color: rgb(73, 185, 255); }
a:hover { color: #ffffff; }
a:active { color: #ff4040; text-decoration:none; font-weight:normal; }